* {
    background-color: rgb(228, 228, 250);
    font-family: inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

.logo {
    padding-top: 10px;
    padding-left: 10px;
    width: 15%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left:80px;
}
.text-area {
    border: none;
    color:blue;
    margin-top: 90px;
    text-transform: lowercase;

}

::placeholder {color:blue;}
 .text-area:focus {
    outline: none;
 }

 .mensaje{
      background: white;
      background-image: url("img/Muñeco.png");
      background-repeat: no-repeat;
      border:none;
      border-radius: 24px;
      color:blue;
      margin-left: 98px;
      margin-top: 20px;
      padding-left: 20px;
      position:fixed;

 }

 .mensaje:focus {
    outline: none;
 }

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar{
    background: white;
    border: 1px solid blue;
    border-radius : 24px;
    color: blue;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}
.btn-encriptar {
    background-color: blue;
    border:1px solid blue;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}
.btn-copiar {
    border: 1px solid blue;
    border-radius: 24px;
    color:blue;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;

}

.informacion {
    color: grey;
    font-size: 20px;
}
